<div class="container" ng-controller="ChangePasswordCtrl as ctrl">
    <div class="col-sm-6 col-sm-offset-1">
        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>
        <form name="changePasswdForm" ng-submit="ctrl.changePassword()" novalidate autocomplete="off">
            <div class="form-group input-field col s6">
                {{ctrl.localProfile.email}}
            </div>

            <div class="form-group input-field col s6" ng-class="{ 'has-error': changePasswdForm.CurrPassword.$touched && changePasswdForm.CurrPassword.$invalid}">
                <input type="password" class="form-control" ng-model="ctrl.user.curr_password"
                       name="CurrPassword" placeholder="Current Password" 
                       minlength="8"
                       ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
                <div class="help-block"
                     ng-messages="changePasswdForm.CurrPassword.$error" ng-if="changePasswdForm.CurrPassword.$touched">
                    <span class="help-inline" ng-message="required">Current Password is mandatory.</span>
                    <span class="help-inline" ng-message="minlength">Current Password must be at least 8 characters long.</span>
                    <span class="help-inline" ng-message="pattern">Current Password must include a number, a special character (@, #, $), and both upper and lower cases.</span>
                </div>
            </div>

            <div class="form-group input-field col s6" ng-class="{ 'has-error': changePasswdForm.NewPassword.$touched && changePasswdForm.NewPassword.$invalid}">
                <input type="password" class="form-control" ng-model="ctrl.user.NewPassword"
                       name="NewPassword" placeholder="New Password" 
                       minlength="8"
                       ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
                <div class="help-block"
                     ng-messages="changePasswdForm.NewPassword.$error" ng-if="changePasswdForm.NewPassword.$touched">
                    <span class="help-inline" ng-message="required">New Password is mandatory.</span>
                    <span class="help-inline" ng-message="minlength">New Password must be at least 8 characters long.</span>
                    <span class="help-inline" ng-message="pattern">New Password must include a number, a special character (@, #, $), and both upper and lower cases.</span>
                </div>
            </div>

            <div class="form-group input-field col s6" ng-class="{ 'has-error': changePasswdForm.ConfirmPassword.$touched && changePasswdForm.ConfirmPassword.$invalid}">
                <input type="password" class="form-control" ng-model="ctrl.user.ConfirmPassword"
                       name="ConfirmPassword" placeholder="Confirm Password" 
                       minlength="8"
                       compare-to="ctrl.user.NewPassword"
                       ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
                <div class="help-block"
                     ng-messages="changePasswdForm.ConfirmPassword.$error" ng-if="changePasswdForm.ConfirmPassword.$touched">
                    <span class="help-inline" ng-message="required">Confirm Password is mandatory.</span>
                    <span class="help-inline" ng-message="">Confirm Passwords do not match</span>
                    <span class="help-inline" ng-message="minlength">Confirm Password must be at least 8 characters long.</span>
                    <span class="help-inline" ng-message="pattern">Confirm Password must include a number, a special character (@, #, $), and both upper and lower cases.</span>
                </div>
            </div>
            
            <button type="submit" ng-disabled="changePasswdForm.$invalid" class="btn btn-default btn-lg">Change</button>
        </form>

    </div>
</div>