<div class="container main"
     data-ng-controller="PostListCtrl as ctrl">
    <div class="row w-card" data-ng-repeat="post in ctrl.posts | orderBy: 'createdAt':true track by $index ">
        <div class="col-xs-3 visible-md visible-lg"></div>
        <div>

            <div class="posted-by">
               <span style="line-height: 34px; margin-left: 10px;">{{post.user.firstName}} {{post.user.lastName}}</span>
                <span style="float: right;line-height: 34px;">{{post.createdAt | date:'medium'}}</span>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
   
</div>