<nav class="nav has-shadow" ng-controller="HomePageAppCtrl as ctrl">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item"></a>
      <a ui-sref="mainpage" class="nav-item is-tab is-hidden-mobile">Home</a>
      <a ui-sref="GGG" class="nav-item is-tab is-hidden-mobile">GGG</a>
      <a ui-sref="SSS" class="nav-item is-tab is-hidden-mobile">SSS</a>
      <a ui-sref="aboutus" class="nav-item is-tab is-hidden-mobile">About Us</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tabis-hidden-tablet is-active"" ui-sref="MyAccount">My Account</a>
    </div>
  </div>
</nav>