<div class="box" data-ng-controller="ProfileCtrl as profileCtrl">
    <article class="media">
        <div class="media-left">
        <figure class="image is-64x64">
            <img src="assets/images/default-user2.jpg" alt="Image">
        </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                <strong>{{profileCtrl.localProfile.firstName}} {{profileCtrl.localProfile.lastName}}</strong> <small>{{profileCtrl.localProfile.email}}</small>
                <br>
                <br>
               
                </p>
            </div>
            <div class="text-center">
                <button type="button" ng-click="ctrl.logout()" class="btn btn-default btn-lg">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> <a ui-sref="ChangePassword">Change Password</a>    
                </button>
            </div>    
            <br>
            <div class="text-center" ng-controller="LogoutCtrl as ctrl">
                <button type="button" ng-click="ctrl.logout()" class="btn btn-default btn-lg">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </button>
            </div>
        </div>
    </article>
    
    </div>
               
            





